<script type='text/javascript' src='https://c.la1-c2-par.salesforceliveagent.com/content/g/js/39.0/deployment.js'></script>
<script type='text/javascript'>
liveagent.init('https://d.la1-c2-par.salesforceliveagent.com/chat', '5720Y000000XciG', '00D0Y000001Ieev');
</script>

<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<iframe name="myiframe" style="height:300px;">
 Here we show the chat window.
</iframe>

<a id="liveagent_button_online_5730Y000000Xd3y" href="javascript://Chat" style="display: none;" onclick="liveagent.startChatWithWindow('5730Y000000Xd3y', 'myiframe')">
  <%= image_tag "salesforce.png" %>
</a>
<div id="liveagent_button_offline_5730Y000000Xd3y" style="display: none;"><!-- Offline Chat Content --></div>

<script type="text/javascript">
  if (!window._laq) { window._laq = []; }
  window._laq.push(function() {
    liveagent.showWhenOnline('5730Y000000Xd3y', document.getElementById('liveagent_button_online_5730Y000000Xd3y'));
    liveagent.showWhenOffline('5730Y000000Xd3y', document.getElementById('liveagent_button_offline_5730Y000000Xd3y'));
  });
</script>
