<script type='text/javascript' src='https://c.la1-c2-par.salesforceliveagent.com/content/g/js/39.0/deployment.js'></script>
<script type='text/javascript'>
liveagent.init('https://d.la1-c2-par.salesforceliveagent.com/chat', '5720Y000000XciG', '00D0Y000001Ieev');
chatOpened = false;

function startChat() {
  var div = document.getElementById('myiframe');
  div.style.display = (div.style.display === "none") ? "block" : "none";

  if (chatOpened) {
    return;
  }

  liveagent.startChatWithWindow('5730Y000000Xd3y', 'myiframe');
  chatOpened = true;
}
</script>

<style>
html {
  background: url('background.png') no-repeat center center fixed;
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
}

#myiframe {
  height: 400px;
  position: fixed;
  right: 30px;
  bottom: 110px;
  z-index: 1;
  background-color: white;
}

#liveagent_button_online_5730Y000000Xd3y {
  position: fixed;
  right: 30px;
  bottom: 10px;
}
</style>

<iframe id='myiframe' name="myiframe" style="display: none;">
</iframe>

<a id="liveagent_button_online_5730Y000000Xd3y" href="javascript://Chat" style="display: none;" onclick="startChat()">
  <%= image_tag "salesforce.png" %>
</a>
<div id="liveagent_button_offline_5730Y000000Xd3y" style="display: none;"><!-- Offline Chat Content --></div>

<script type="text/javascript">
  if (!window._laq) { window._laq = []; }
  window._laq.push(function() {
    liveagent.showWhenOnline('5730Y000000Xd3y', document.getElementById('liveagent_button_online_5730Y000000Xd3y'));
    liveagent.showWhenOffline('5730Y000000Xd3y', document.getElementById('liveagent_button_offline_5730Y000000Xd3y'));
  });
</script>
